<!DOCTYPE html>
<html lang="en">
<head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/fontawesome.min.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/fontawesome.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/light.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/light.min.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/regular.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/regular.min.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/solid.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/solid.min.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/svg-with-js.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/svg-with-js.min.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/v4-shims.css">
        <link rel="stylesheet" href="fontawesome-pro-5.6.3-web/css/v4-shims.min.css">
        




        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700" rel="stylesheet"> 
        <link rel="stylesheet" href="newstyle.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seven Girls</title>
</head>
<body>
        <div id="app">
        <div class="rest-block d-flex flex-column align-items-center" id="alllocation">
            <div class="main-top d-flex flex-column align-items-center">
            <div class="logo-title d-flex flex-row justify-content-around align-items-center"> 
                <img src="images/sg_logo.svg">
                <div class="d-flex flex-column logo-col" style="padding-left:15px;">
                 <h1 class="title">Burger & Fries</h1>
                <h2 class="subTitle">Search or View Nearby Restaurants Below.</h2>
                </div>
            </div>  
                <div class="search-block">
                        <i class="fal fa-search"></i>
                        <input type="search" placeholder="Search for restaurants" v-on:input="searchEnter" v-model="search">
                        <i class="far fa-location-arrow"></i>
                        
                    </div>
                </div>
                <a class="subTitle" href="#" @click.prevent="viewAll" v-if="isSearched">View All Locations</a>

            <h3 class="location-text align-self-start">showing all locations</h3>
            
            <div id="locationdiv" v-if="data">
                   
                <!-- BEGIN BLOCK -->
                <div class="line-between"></div>
            <div class="location-container d-flex flex-row" v-for="restaurant in viewedData">
              
                <div class="location-left d-flex flex-column" @click="zoomMarker(restaurant)">
                    <h1>{{restaurant.name}}</h1>
                    <div class="info-loc d-flex flex-row">
                            
                    <div class="description d-flex flex-column justify-content-around ">
                    <div class="d-flex flex-row">
                        <div class="first-col d-flex flex-column">  <i class="far fa-map-marker-alt"></i></div>
                        <div class="first-col d-flex flex-column">  <p> {{restaurant.streetaddress}}</p>
                            <p> {{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}</p></div>
                    </div>
                    <div class="d-flex flex-row">
                            <div class="first-col d-flex flex-column">  <i class="far fa-shopping-bag"></i></div>
                            <div class="first-col d-flex flex-column"> <p v-if="restaurant.candeliver && restaurant.canpickup">Delivery and Pickup</p>
                                <p v-if="restaurant.candeliver && !restaurant.canpickup">Delivery</p>
                                <p v-if="!restaurant.candeliver && restaurant.canpickup">Pickup</p>  </div>
                    </div>
                    <div class="d-flex flex-row">
                            <div class="first-col d-flex flex-column">  <i class="fal fa-clock"></i></div>
                            <div class="first-col d-flex flex-column">   <p>  Open Now</p>  </div>
                        </div>
                       
                    </div>
                    
                   </div>
                    
                </div>
                <div class="location-right d-flex align-items-center ">
                    <button class="right-btn d-flex flex-row align-items-center justify-content-center">
                        <i class="far fa-shopping-bag"></i><span>Order Now</span>
                    </button>
                </div>
            </div>
            <!-- END BLOCK -->
                
            </div>
            
        </div>
       
        <div class="right-corner  flex-row justify-content-around">
                
                <button class="signIn d-flex align-items-center justify-content-around">
                        <i class="fal fa-user-circle"></i>
                    <span>Account</span>
                </button>
                <div class="vertical-line"></div>
                <button class="basket d-flex align-items-center">
                        <i class="fal fa-shopping-bag"></i>
                   <span> Basket</span>
                </button>
                
            </div>
            <div class="mobile-header flex-row justify-content-around">
                    <button id="btnmap"class="mapbtn d-flex align-items-center">
                            <i class="fal fa-globe-americas"></i>
                            <span> Map</span>
                    </button>
                    <div class="vertical-line"></div>
                    <button class="signIn d-flex align-items-center justify-content-around">
                            <i class="fal fa-user-circle"></i>
                        <span>Account</span>
                    </button>
                    <div class="vertical-line"></div>
                    <button class="basket d-flex align-items-center">
                            <i class="fal fa-shopping-bag"></i>
                       <span> Basket</span>
                    </button>
                    
            </div>
        <div class="container-maps">
        <div id="googleMap" class="googleMaps"></div>
    </div>
    </div>
        <script src="app.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCKp2HZVbINXip38G7-v1Arwdn6wS8DH48"></script>
</body>
</html>