
  a{
    text-decoration: none;
    list-style: none;
}

@font-face {
  font-family: 'futura-pt';
  src: url('Font/FuturaPT/FuturaPTBook.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'futura-pt-bold';
  src: url('Font/FuturaPT/FuturaPTBold.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body,html{
    width: 100%;
    height: 100%;

}
.googleMaps
{
  height:100%;
  width: 100%;
  right: 0px;
  z-index: 8;
  position: fixed;
}


.container-maps
{
    position: fixed;
    height: 100%;
    width: 100%;
}
.gm-style-mtc
{
    display: none
}
.gm-control-active,.gm-fullscreen-control
{
    display: none
}
.gm-svpc
{
    display: none
}
.gmnoprint
{
    display: none;

}
.right-corner
{
    display: flex;
    position: fixed;
    right: 15px;
    top:15px;
    z-index: 2;
    box-sizing: border-box;
    height: 62px;
    width: 240px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.15);
   
    
}
.mobile-header
{
    display: none;
    /* position: fixed;
    bottom:0px;
    z-index: 6; */
    box-sizing: border-box;
    height: 62px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.05);
    /* border-radius: 30px; */
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.15);
}
button
{
    border: none;
    background: none
}
.signIn
{


    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #000000;

}
.signIn i{
    
        height: 21px;
        width: 20px;
        opacity: 0.8;
        color: #000000;
        font-family: "Font Awesome 5 Pro";
        font-size: 20px;
        font-weight: 300;
        line-height: 21px;
    
}
.signIn span{
    margin-left: 10px;
}
.mapbtn
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
}
.mapbtn i 
{
    height: 21px;
    width: 20px;
    opacity: 0.8;
    color: #000000;
    font-family: "Font Awesome 5 Pro";
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;

}
.mapbtn span{
    margin-left: 10px;
}
.vertical-line
{
    
        box-sizing: border-box;
        height: 36px;
        width: 1px;
        border: 1px solid #000000;
        opacity: 0.1;
    
}
.basket
{

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color:#C12D39;

}
.basket i{
    
        height: 21px;
        width: 18px;
        color: #C12D39;
        font-family: "Font Awesome 5 Pro";
        font-size: 20px;
        font-weight: 300;
        line-height: 21px;
        text-align: center;
    
}
.basket span{
    margin-left: 10px;
}
.search-block
{
    
	box-sizing: border-box;
	height: 62px;
    width: 338px;
    border: 1px solid rgba(0,0,0,0.1);
	border-radius: 30px;
	background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.search-block i:first-child
{
    
    
        height: 18px;
        width: 18px;
        color: #C12D39;
        font-family: "Font Awesome 5 Pro";
        font-size: 18px;
        line-height: 18px;
    
    
  

}
.search-block i:last-child
{
    
        height: 18px;
        width: 18px;
        opacity: 0.3;
        color: #000000;
        font-family: "Font Awesome 5 Pro";
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
    
    
  
    
}
.search-block input[type=search]
{
    border: none;   
    /* width: 240px; */
}
.search-block input::placeholder
{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    opacity: 0.3;
    font-size: 16px;
    line-height: 25px;
    
}
.rest-block
{
        position: absolute;
        left: 15px;
        top:15px;
        z-index: 4;
        box-sizing: border-box;
        /* height: 100%; */
        width: 402px;
        border: 1px solid rgba(0,0,0,0.05);
        border-radius: 16px;
        background-color: #FFFFFF;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.15);
        overflow-y: scroll !important;
    
}
.title
{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    opacity: 0.8;
    line-height: 35px;
    color: #000000;
    text-align: left;
}
.subTitle
{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    opacity: 0.4;
    line-height: 20px;
    color:#000000;
    text-align: left
}
.location-text
{
    text-transform: capitalize;
    opacity: 0.6;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin-top:48px;
    margin-left:33px;
    text-align: left;
}

.location-left
{
    width: 60%;
    padding: 24px 30px;
}
.location-right{
    width: 50%;
}
.right-btn
{
    
        height: 48px;
         width: 134px;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 24px;
        background-color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        color: #C12D39;
        font-size: 11px;
        font-weight: bold;
     

    
}
.right-btn i{
    
        height: 16px;
        width: 14px;
        color: #C12D39;
        font-family: "Font Awesome 5 Pro";
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        margin-right: 10px;
}
.right-btn span{
    
        height: 19px;
        width: 71px;
        color: #C12D39;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
    
}
.location-left h1
{
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
    font-weight: bold;
    font-size: 14px;

}
.location-left p{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 500;
    opacity: 0.6;
    margin: 0;
    line-height: 17px;
    text-align: left;
}
.location-left p>img{
    width: 18px;
    height: 14px;
}
.location-container
{
    width: 100%;
}
.line-between
{
  
        box-sizing: border-box;
        height: 1px;
        width: 368px;
        border: 1px solid #000000;
        opacity: 0.05;
    
}
.logo-title
{
    padding: 25px;
}

.logo-title img
{
width: 96px;
height: 96px;
}
.description
{
    display: table-cell;
    vertical-align: middle;
    /* padding: 5px 10px; */
   margin-top: 5px
}
.description p{
   
        /* height: 38px;
        width: 121px; */
        opacity: 0.6;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 8px;
        display: inline-block;
        vertical-align: middle;
        
    
}
.description p i{
    
    height: 16px;
    width: 18px;
    opacity: 0.3;
    color: #000000;
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    line-height: 16px;
    margin-left: 5px;

}
.first-col i
{
    height: 16px;
    width: 18px;
    opacity: 0.3;
    /* color: #000000; */
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    line-height: 16px; 
    margin-top: 2px;
    margin-right: 8px;
}
.first-col p 
{
    opacity: 0.6;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
    
}
.icon 
{
    /* padding: 5px 0px; */
}
.icon i 
{
    
        height: 16px;
        width: 18px;
        opacity: 0.3;
        color: #000000;
        font-family: "Font Awesome 5 Pro";
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    
}
.active, .location-container:hover
{
    background-color: rgba(255,251,0,0.1);
}
.sticky
{
    
    position: fixed;
}
@media only screen and (max-width: 768px)
{
    /* .googleMaps
    {
        display: none;
    } */
    .right-corner
    {
        display: none;
        
    }
    .mobile-header
    {
        display: flex;
        position: fixed;
        z-index: 10;
        bottom: 0px;
        /* transform: translate(40%, 30%);  */
    }
    
   
     .rest-block
    {
        /* height: 100%; */
        /* width:auto;
        position: relative;
        top:0; */
        width: auto;
        left:0px;
        top:0px;
    } 
    .logo-title
    {
        flex-direction: column !important;
    }
    .logo-col
    {
        justify-content: center !important;
        align-items: center !important
    }
    .subTitle
    {
        text-align: center
    }
    .container-maps
    {
        display: none;
    }
    .container-maps
    {
        height: 50%;
        width: 100%;
        z-index: 4;
        top: 300px;
    }
    .location-container:last-child
    {
        margin-bottom: 50px;
    }
    .location-text
    {
        margin-left: 100px;
    }
}
